ol.main{
    list-style-type:upper-roman;
}
ol.sub{
    list-style-type:upper-alpha;
}
li.midsize{
    background-color:  rgb(251, 158, 174);
}
.sports{
    background-color: rgb(251, 119, 141);
}
ol.sub2{
    list-style-type:upper-alpha;
    background-color:  rgb(251, 158, 174);
}
div.compact{
    background-color: pink;
}
.sub3{
    list-style-type:upper-alpha;
    background-color:rgb(251, 119, 141);
}
.hiddenimg {
    display: none;
  }

.hiddentxt {
    font-weight: bold;
    color: rgb(234, 35, 52);
    z-index:99;
  }
.hiddentxt:hover ~ .hiddenimg {
    display: block;
    position: absolute;
      z-index: 2
  }  
